## folders
/bin
/build
/bak
/conf
/dist
/lib
/ivy/cache
/instrumented
/uninstrumented
.cache
/.external*
/plugin/bak
/doc
/other-src
## files
/.project
/.classpath
.settings
cobertura.ser
.checkstyle
